extends layout

block content
    a(href="/addbike" class="button") Add your bike
    h1= title
    each bike in bikes
        h3 #{bike.make} #{bike.model}
        ul
            each val, index in bike
                if  index != "_id" && index != "meta"
                    li #{index.replace(/^\b\w/g, l => l.toUpperCase())}: #{val}
